<div
  class="container"
  style="
    border: 3px solid black;
    width: auto;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  "
>
  <div class="row">
    <div class="col">
      <button class="btn btn-sm btn-primary" (click)="onFetchPost()">
        View All Blogs
      </button>
    </div>
  </div>
  <div class="row m-3">
    <div class="col">{{ blogTitle }}</div>
  </div>
  <div class="row m-3">
    <div class="col">{{ blogContent }}</div>
  </div>

  <div class="row m-3">
    <div class="col">
      <p *ngIf="!blogTitle">No Posts Available !!</p>
      <ul class="list-group">
        <div *ngFor="let post of fetchedPosts; let i = index">
          <li class="list-group-item" *ngIf="fetchedPosts[i].id != 'null'">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
            <button class="btn btn-sm btn-success">Edit</button>
            ||
            <button
              class="btn btn-sm btn-danger"
              (click)="fetchedPosts[i].id = 'null'"
            >
              Delete
            </button>
            <br />
          </li>
        </div>
      </ul>
    </div>
  </div>
  <br />
  <p *ngIf="blogTitle">
    <button class="btn btn-lg btn-danger" (click)="onDeletePost()">
      Delete All Blogs
    </button>
  </p>
</div>
