<div
  class="container"
  style="
    border: 3px solid black;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
  "
>
  <form #f="ngForm">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="title"
            placeholder="Title"
            [(ngModel)]="blogTitle"
            required
          />
        </div>
        <br />
        <div class="form-group">
          <textarea
            name="content"
            id="content"
            cols="30"
            rows="10"
            placeholder="Express your Feelings Here......"
            [(ngModel)]="blogContent"
            required
          ></textarea>
        </div>
        <button
          class="btn btn-primary"
          [disabled]="!f.valid"
          (click)="createPost(f.value)"
          (click)="successMessage()"
        >
          Post
        </button>
      </div>
    </div>
  </form>
</div>
